/***************************************
GENERAL Styling
/***************************************/

/* Green color on link and removing underline */
a {
  text-decoration:none;
  color: #6ab47b;
}

#wrapper {
  max-width:940px;
  padding:0 5%;
  margin:0 auto;
}

#logo {
  text-align: center;
  margin:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}
/***************************************
/Heading Styling
/***************************************/

header {
  float:left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;  
  width: 100%;
}
/* Green background on Header */
header {
  background: #6ab47b;
  border-color: #599a68;
}

/* Logo Text */
h1, h2 {
  color: #fff;
  
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 15px auto;
  font-size: 1.8em;
  font-weight: bolder;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: bold;
}
/***************************************
/Color Styling
/***************************************/

/* Site Body Styling */
body {
  background-color: #fff;
  color: #999;
}

/* Green background on Nav for Mobile Devices */
nav {
  background: #599a68;
}

/* Nav links */
nav a, nav a:visited {
  color: #fff;
}
/* Selected nav link */
nav a.selected, nav a:hover {
  color: #32673f; 
}


/***************************************
/NAV Styling
/***************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  font-size: 0.85em;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}
/***************************************
/FOOTER Styling
/***************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
  clear: both;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/***************************************
/GALLERY Styling
/***************************************/

#gallery {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

/***************************************
/PAGE: ABOUT.HTML Styling
/***************************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/***************************************
/PAGE: CONTACT.HTML Styling
/***************************************/

.contact-info {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 0.9em;
}

.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url("../img/phone.png");
}

.contact-info li.twitter a {
  background-image: url("../img/twitter.png");
}

.contact-info li.mail a {
  background-image: url("../img/mail.png");
}
